[submodule "wp"]
	path = wp
	url = https://github.com/WordPress/WordPress.git
[submodule "content/themes/rootstrap"]
	path = content/themes/rootstrap
	url = https://github.com/Rootstrap/Rootstrap.git
[submodule "content/themes/rootstrap-child"]
	path = content/themes/rootstrap-child
	url = https://github.com/cannontech/gsn-child.git
[submodule "content/themes/gsn-base"]
	path = content/themes/gsn-base
	url = https://github.com/cannontech/Sparkling.git
[submodule "content/themes/gsn-child"]
	path = content/themes/gsn-child
	url = https://github.com/cannontech/sparkling-child.git
[submodule "content/themes/sunfresh-147"]
	path = content/themes/sunfresh-147
	url = https://github.com/cannontech/sunfresh-147.git
[submodule "content/plugins/gsn-test-plugin"]
	path = content/plugins/gsn-test-plugin
	url = https://github.com/cannontech/gsn-test-plugin.git
